# environments/dev/terraform.tfvars
# Параметры для DEV окружения

# ============================================================================
# Kubernetes кластер
# ============================================================================

worker_count = {
  dev = 1
}

control_plane_instance_type = {
  dev = "s2.micro"
}

worker_instance_type = {
  dev = "s2.micro"
}

# ============================================================================
# Сеть
# ============================================================================

vpc_cidr = {
  dev = "10.0.0.0/16"
}

subnet_cidrs = {
  dev = ["10.0.1.0/24", "10.0.2.0/24"]
}

zones = {
  dev = ["ru-central1-a", "ru-central1-b"]
}

# ============================================================================
# Доступы
# ============================================================================

ssh_allowed_cidrs = {
  dev = ["0.0.0.0/0"]
}

# ============================================================================
# GitLab Runner
# ============================================================================

# Для dev раннер НЕ создается поэтому токен не нужен

# gitlab_token = {
#   dev = ""
# }

# runner_registration_tags = {
#   dev = ["docker", "dev"]
# }

# ============================================================================
# Теги
# ============================================================================

tags = {
  environment = "dev"
  purpose     = "development"
  project     = "momo-store"
}