# environments/prod/terraform.tfvars
# Параметры для PROD окружения

# ============================================================================
# Kubernetes кластер
# ============================================================================

worker_count = {
  prod = 3
}

control_plane_instance_type = {
  prod = "s2.large"
}

worker_instance_type = {
  prod = "s2.large"
}

# ============================================================================
# Сеть
# ============================================================================

vpc_cidr = {
  prod = "10.2.0.0/16"
}

subnet_cidrs = {
  prod = ["10.2.1.0/24", "10.2.2.0/24", "10.2.3.0/24"]
}

zones = {
  prod = ["ru-central1-a", "ru-central1-b", "ru-central1-c"]
}

# ============================================================================
# Доступы
# ============================================================================

ssh_allowed_cidrs = {
  prod = ["0.0.0.0/0"]
}

# ============================================================================
# GitLab Runner
# ============================================================================

# Токен для регистрации раннера в prod
gitlab_token = {
  prod = "glrt-xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}

# Теги для раннера
runner_registration_tags = {
  prod = ["docker", "prod"]
}

# ============================================================================
# Теги
# ============================================================================

tags = {
  environment = "production"
  purpose     = "production"
  project     = "momo-store"
  critical    = "true"
}